<br><br> 
<div class="jumbotron" data-aos="fade-up" data-aos-duration="2700">
    <div>
        <div class="h3 m-4 text-center" >
            Estas son alguna de mis habilidades
        </div>
    </div>
</div>

<div class="container text-center p-2" data-aos="fade-up" data-aos-duration="2700">
    <div class="row">
        <div class="col d-flex justify-content-around ">
            <div class="card" style="width:'100px';">
              <img [src]="imagen1" class="card-img-top" alt="...">
                    <div class="card-body">
                    <p class="card-text text-center" style="width: min-content;">JS</p>
            </div>
        </div>
        <div class="card" style="width:'100px'">
            <img [src]="imagen2" class="card-img-top" alt="...">
                <div class="card-body">
                <p class="card-text text-center" style="width: min-content;">CSS </p>
                </div>
            </div>
        <div class="card" style="width: '100px';">
           <img [src]="imagen3" class="card-img-top" alt="...">
               <div class="card-body">
              <p class="card-text text-center" style="width: min-content;">HTML</p>
              </div>
        </div>
       <div class="card" style="width: '100px';">
             <img [src]="imagen4" class="card-img-top" alt="...">
            <div class="card-body">
            <p class="card-text text-center" style="width: min-content;"> TS </p>
            </div>
        </div>
        <div class="card" style="width: '100px';">
            <img [src]="imagen5" class="card-img-top" alt="...">
           <div class="card-body">
           <p class="card-text text-center" style="width: min-content;"> TS </p>
           </div>
       </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="jumbotron-2">
            <div>
                <div class="h3 m-4 text-center" style="font-size: medium; background-color: black;">
                    Desarrollador de web junior con experiencia en aplicaciones web. 
                    Tras más de 1 año trabajando de manera indepndiente, no solo tengo conocimientos en Javascript, CSS, HTML y Git, sino que 
                    también he logrado epsecializarme en Angular. Deseo generar proyectos 
                    funcionales que superen las expectativas de los clientes.
                </div>
            </div>
        </div>
    </div>
</div>

