<nav class="navbar navbar-expand navbar-dark bg-dark" >
    <div class="container-fluid">
      <a href="" class="" style="width: 20px;"><i class="fa-solid fa-bars fa-lg" style="width: 50px;color: rgba(255, 255, 255, 0.529);"></i></a>
      <a class="navbar-brand" href="#"><img [src]="imagen" alt="">{{titulo}}</a>
      <img [src]="imagen" alt="">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="https://twitter.com/gabysanchezrd">INICIO<i class="bi bi-twitter"></i>
              <span class="visually-hidden">(current)</span>
            </a>  
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-mt6" href="https://www.tiktok.com/@gabysanchezrd">NOSOTROS<i class="bi bi-tiktok"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.instagram.com/gabysanchezrd/">CONTACTO<i class="bi bi-instagram"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.facebook.com/GabySanchezRD/"><i class="bi bi-facebook"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.facebook.com/GabySanchezRD/"><i class="bi bi-telegram"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>