<div class="container text-center" data-aos="fade-up" data-aos-duration="2700">

    <h1>{{titulo}}</h1>
    <p>Sitio Oficial de GabCode, Desarrollador Web Full Stack.</p>
    <span style="color: #fff;">Desarrollador de web junior con experiencia en aplicaciones web. Tras más de 
        1 año trabajando de manera indepndiente, no solo tengo conocimientos 
        en Javascript, CSS, HTML y Git, sino que también he logrado epsecializarme 
        en Angular. Deseo generar proyectos funcionales que superen las expectativas 
        de los clientes.</span>

</div>


